/*el * selector universal */
*{
    margin: 0%;
    padding: 0%;/*relleno al rededor un parrafo*/

}
h1{
    
    color:rgba(83, 175, 236, 0.8);
    
     font-size: 3vw;
}
/* eliminar corportamiento en bloque nav y la div */
.header-linea{
display: inline-block; /*situa en linea el nav y el div*/
padding-right: 22vw;
padding-top: 4vh;
}
img{
    width: 100%;/* vw vista de ancho*/
    height: auto;/*vista en altura*/
}

/*estilo para el logo
Agregar a la clase logo a la img del logo y aplicar  estilo
de ancho, alto, borde  radios  y sombra.
color  sombra:rgba(83,175,236,0.8)*/
.logo{
    width: 0.1vw;/* vw vista de ancho*/
    height: auto;/*vista en altura*/
    border-radius: 0% 50% 0% 50%;/*redondea los bordes*/
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(83, 175, 236, 0.8);
    
}
/* estilos en el encabezado header */
/* color de fondo, altura, borde, tamaño de fuente,alinear texto.
color fondo:rgba(52,152,219,0.2) 
rgba(231,76,60,0.4)*/
header{
    background: linear-gradient(to top,rgba(110, 73, 105, 0.2),
     rgba(63, 52, 59, 0.4));/*to top,to left*/
    height: 15vh;
    font-size: 2vw;
    text-align: end;
    border-radius: 0% 0% 50% 0%
    ;
}
/* en lo hipervinculos del nav eliminar la decoracion del texto,color
agregar separacion entre hipervinculos */
.menu{
text-decoration: none;/*quito el subrrallado del hipervinculo*/
color:brown;
padding-right: 1.5vw;/*espacio entre los hipervinculos*/
}
/* por # y el nombre del id 
fondo de la seccion 2, agregar la id s2 a la seccion, aplicar estilo:margen,tamaño de fuente,
color de fondo,borde radios
rgba(83,175,236,0.8)*/
#s2{
background-color: rgba(83,175,236,0.8);
border-radius: 40% 2% 40% 2%;
font-size: 1.5;
margin: 5vw 5vh 5vw 5vh;
}
.parrafo{
    padding: 10vw;
}
/* pie de pagina: color de fondo, altura, tamaño de fuente,color de texto,alineacion de text
color rgba(0,0,0,0.9) */
footer{
    background-color: rgba(18, 96, 141, 0.8);
    height: 15vh;
    text-align: center;
    color:rgb(16, 18, 20);

}
.texto-pie{
padding: 8vh;
}
