<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/codoAcodo.ico" type="image/x-icon">
    <title>GALERIA</title>
</head>
<body>
    
    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
            <a href="#enlace-interno">Ver texto</a>
        </nav>
    </header>

    <main>

        <section>

            <div>
                <img src="../img/naruto_mini.jpg" alt="Imagen de Naruto">
                <h3>Naruto</h3>
                <p>Descripción: visualizar la imagen de Naruto.</p>
                <a href="../img/naruto_fire.jpg" target="_blank">Ver imagen en otra ventana</a>
                <br>
                <a href="../img/naruto_mini.jpg" download>Descargar imagen</a>
                <br>
                <a href="../pdf_naruto.pdf" download>Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

            <div>
                <img src="../img/naruto_fire.jpg" alt="Imagen de Naruto">
                <h3>Naruto</h3>
                <p>Descripción: visualizar la imagen de Naruto.</p>
                <a href="../img/naruto_fire.jpg" target="_blank">Ver imagen en otra ventana</a>
                <br>
                <a href="../img/naruto_mini.jpg" download>Descargar imagen</a>
                <br>
                <a href="../pdf_naruto.pdf" download>Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

        </section>

        <section id="enlace-interno">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ipsum aperiam perspiciatis commodi velit ipsa quod magnam quos praesentium quibusdam. Eum libero a eveniet earum hic corrupti aperiam doloribus veniam?
            Beatae aliquid, distinctio possimus placeat ratione quo amet, id cumque a nisi voluptates eveniet iusto quod earum similique iure, alias fuga omnis velit optio fugiat quidem corporis ipsa laboriosam. Dolore.
            Error pariatur culpa ipsam porro ea quibusdam magni perspiciatis doloremque ratione a quam, ex inventore earum est neque quidem hic. Placeat cupiditate nostrum officiis odit corporis consequatur aliquam architecto est?
            Atque ipsam nemo dicta aspernatur. Maxime vel sequi a, aperiam unde optio suscipit enim explicabo iusto impedit tempore sit commodi facere quae, obcaecati consectetur nam, nulla facilis nisi deserunt placeat.
            Velit incidunt possimus rem temporibus nam quos exercitationem, excepturi magni laboriosam deserunt officiis, repellat, vel error? Voluptatum molestias natus earum quod recusandae repudiandae qui nesciunt sit minus? Possimus, dolor odio?
            Asperiores aut ipsa magni quisquam assumenda et fugiat, nemo inventore ad, cumque suscipit! Ullam enim illo, esse tempore cumque sit rerum fugiat placeat! Saepe nesciunt quas voluptatem. Voluptatem, corporis cum!
            Sequi pariatur, eveniet laboriosam ea assumenda commodi, nemo accusantium modi iusto expedita at recusandae itaque, id ut sed asperiores dignissimos officiis ipsum odit veniam voluptate accusamus neque. Explicabo, quia a?
            Totam nihil pariatur, commodi aspernatur ipsam repudiandae ducimus impedit ab, doloribus nemo minus! Rem officiis saepe, animi nam minima illum consequatur sequi voluptatum nobis fuga quod, optio veniam vero in?
            Amet, assumenda voluptate! Voluptatibus, quo. Eos debitis culpa dolorem quo a magni nemo doloremque id dignissimos, optio veniam qui similique officiis minima iusto repellendus eligendi accusamus quam, illum aliquam! Totam.
            Reiciendis, harum quasi dolor mollitia culpa minima perferendis illum, ullam voluptatem fuga repellat temporibus alias nam dolores, sed laborum facilis. Minus ut voluptatem expedita a molestiae laudantium placeat id laboriosam.</p>

        </section>

    </main>

    <!-- Pie de página -->
    <footer>
        <h3>Curso Full Stack Python</h3>
    </footer>



</body>
</html>