<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/codoAcodo.ico" type="image/x-icon">
    <title>LISTAS</title>

    <style>
        body{
            background-image: url('../img/5594016.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
</head>

<body>

    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <h1>Listas</h1>


        <section class="s1-lista">
            <h2>Lista ordenada</h2>

            <ol>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <!-- Cambiar numeración -->

            <ol type="A">
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <!-- Cambiar numeración -->

            <ol type="i">
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>
        </section>

        <!-- Sección N2 -->
        <section>
            <h2>Lista desordenada</h2>

            <ul>
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Perú</li>
                <li>Uruguay</li>
            </ul>

            <!-- Cambiar viñeta -->
            
            <ul type="circle">
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Perú</li>
                <li>Uruguay</li>
            </ul>

            <!-- Cambiar viñeta -->
            
            <ul type="square">
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Perú</li>
                <li>Uruguay</li>
            </ul>

        </section>

        <!-- Sección N3 -->
        <section>
            <h2>Lista desordenada dependiente</h2>

            <ul>
                <li>Lunes</li>
                    <ul>
                        <li>Mañana</li>
                            <ul>
                               <li>7:00 Gym</li>
                            </ul>

                        <li>Tarde</li>
                            <ul>
                                <li>14:30 Clase en Codo</li>
                                <li>16:00 Finaliza la clase</li>
                            </ul>
                        <li>Noche</li>
                            <ul>
                                <li>21:00 Cenar</li>
                            </ul>
                    </ul>

                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ul>


        </section>

        <!-- Sección N4 -->
        <section>
            <h2>Lista de definición</h2>

            <b><p>Alimentos lácteos</p></b>

            <dl>
                <i><dt>Leche</dt></i>
                    <dd>Completa</dd>
                    <dd>Descremada</dd>

                <i><dt>Queso</dt></i>
                    <dd>Azul</dd>
                    <dd>Cremoso</dd>
            </dl>


        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <h3>Curso Full Stack Python</h3>
    </footer>


</body>

</html>