<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Etiquetas meta para palabras y descripción -->
    <meta name="keywords" content="HTML,audio,video,tabla">
    <meta name="description" content="Incorporación de audio, video y estructura de tabla en HTML">
    <!-- Incorporación de la imagen ico -->
    <link rel="shortcut icon" href="../img/codoAcodo.ico" type="image/x-icon">
    <title>Document</title>
    
</head>

<body>
    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>
    
    <!-- Contenido -->
    <main>
        
        <section>
            <!-- Sección para incluir mapa -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.894273900224!2d-58.44498628894368!3d-34.63211197283129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb05d0674ff7%3A0x9b1c1768eccd8bd8!2sRosedal!5e0!3m2!1ses!2sar!4v1692057735436!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>

        <br><br>
        <hr>

        <section>
            <!-- Video de YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2wYmGKZrzR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Rb0UmrCXxVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </section>

        <br><br>
        <hr>

        <section>

            <div>
                <!-- Audio -->
                <audio src="../audio/typical-trap-loop-2b-130751.mp3" autoplay controls muted></audio>

            </div>

            <hr>

            <div>
                <!-- Video -->
                <video loop src="../video/mov_bbb.mp4" width="1800" height="600" autoplay muted ></video>
            </div>
        </section>

        <section>
            <!-- Tabla -->
            <table border="1">
                <!-- Encabezado (nombres de columnas) -->
                <tr>
                    <th>Dia</th>
                    <th>Mes</th>
                    <th>Año</th>
                </tr>

                <!-- Primer registro -->
                <tr>
                    <td>14</td>
                    <td>Agosto</td>
                    <td>2023</td>
                </tr>

                <!-- Segundo registro -->
                <tr>
                    <td>15</td>
                    <td>Septiembre</td>
                    <td>2023</td>
                </tr>

            </table>

        </section>
        
        <br><br>
        <hr>
        <section>
            <!-- Tabla forma 2 -->

            <table border="2">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Miguel</td>
                        <td>Vega</td>
                        <td>45</td>
                    </tr>

                    <tr>
                        <td>Agus</td>
                        <td>Vega</td>
                        <td>28</td>
                    </tr>

                </tbody>

            </table>

        </section>

            <br><br>
            <hr>

        <section>
            <!-- Atributos para correr una celda en horizontal
            y vertical -->

            <table border="1">

                <tr>
                    <td rowspan="3">Zona sur</td>
                    <td>Lanús</td>
                    <td>Avellaneda</td>
                </tr>

                <tr>
                    <td colspan="2">Banfield</td>
                </tr>

                <tr>
                    <td>Quilmes</td>
                    <td>Berazategui</td>
                </tr>

            </table>

        </section>
    </main>


   

</body>

</html>